<html>
  <body>
    <h1>Artists</h1>
      <% @artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <%= artist.song_count.to_s + " songs" %>
        <!--<%= pluralize(artist.songs.count, 'Song')%> -->
      <% end %>
  </body>
</html>       